# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Build output directories
/bin/
/out/
/dist/

# Executable files
/cmd/api/main

# Dependency directories (vendor/)
vendor/

# Docker and environment files
docker-compose.override.yml
.env
*.env

# Logs
*.log

# IDE/editor directories and files
.vscode/
.idea/
.DS_Store

# Coverage and test files
*.cover
*.cov
*.test
*.out

# Temporary files
*.tmp
*.swp

/tmp/*

*.pem